*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(83, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:320px;
    padding: 30px;
    background: #111;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,255, 255, 0.2) ;
    text-align: center;
    position: relative;
z-index: 10;

}
.container h2{
    color: aqua;
    margin-bottom: 25px;
}
.container .input-box{
    position: relative;
    margin-bottom: 25px;
}
.container .input-box input{
    width: 100%;
    padding: 12px;
    background: transparent;
    outline: none;
    border: 2px solid #311;
    color: #fff;
    border-radius: 8px;
}
.input-box input:focus {
    border-color: #0fff;
    box-shadow: 0,0,10px #0fff,
                0,0, 20px #0fff;
}
.container .input-box label{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    color: #ccc;
}
.input-box input:focus + label,
.input-box input:valid + label {
    top: 8px;
    font-size: 12px;
    background: #111;
    padding: 0 6px;
    color: rgb(184, 6, 6);b   
}
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    box-shadow: 0,0,15px #00ffff,
    0,0,30px #00ffff;
}
